@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
body{
    background-color: #00417A !important;
}
.logo{
    width: 40px;
    height: 40px;
}
.active{
    border-radius: 5px;
    padding-left: 10px !important;
}
.active:hover{
    background-color: #d3d4d9;
    color: #6B0504 !important;
}
.dropdown-item{
    color: #d3d4d9!important;
}
.dropdown-item:hover{
    color: #6B0504 !important;
    background-color: #d3d4d9 !important;
}
.ofertas{
    border-radius: 5px;
    color: #ffe74c!important;
    padding-left: 10px !important;
}

.ofertas:hover{
    color: #6B0504!important;
    background-color: #ffe74c;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}